<div class="modal fade"
     id="newSeminarModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="newSeminarModalLabel" aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="newSeminarModalLabel">
          <%= t('admin.main.create_seminar') %>
        </h5>
      </div>
      <div class="modal-body"
           id="new-seminar-modal-content">
        <div id="new-seminar-area">
        </div>
      </div>
    </div>
  </div>
</div>
